<!DOCTYPE html>

<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title><%= title %></title>

    <link rel='stylesheet' href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />

    <!-- table -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
  </head>

  <body>

    <% include nav.ejs %>

    <div class="container-fluid">
		<div class = "row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main">
          <h4 class="sub-header">负责任务</h4>

          <div id="mstoolbar" class="btn-group">
              <button id="btn_start" type="button" class="btn btn-default"  onclick="updateStatus(1);">
                  <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>标记开始
              </button>
              <button id="btn_finish" type="button" class="btn btn-default" onclick="updateStatus(2);">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>标记完成
              </button>
              <button id="btn_stop" type="button" class="btn btn-default"  onclick="updateStatus(3);">
                  <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>标记暂停
              </button>
              <button id="btn_no" type="button" class="btn btn-default"  onclick="updateStatus(0);">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>标记未开始
              </button>
          </div>

          <table id="userMStable"></table>

          <div class="col-sm-5 col-sm-offset-1">
            <h4 class="sub-header">相关BUG</h4>
          </div>
        
          <div class="col-sm-5 col-sm-offset-1">
            <h4 class="sub-header">今日日程</h4>
          </div>


          </div>
		  
		
      </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- table -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
   
    <script>
     function Messiontable() {
        this.Init = function (pid) {
          $('#userMStable').bootstrapTable({
            url: '/home/getOwnerMS',
            method: 'get',
            toolbar: '#mstoolbar',         //工具按钮用哪个容器
            checkboxHeader: false,              //设置false 将在列头隐藏check-all checkbox .
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      //初始化加载第一页，默认第一页
            pageSize: 15,                       //每页的记录行数（*）
            pageList: [15,30,60],             //可供选择的每页的行数（*）
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            singleSelect: true,                  //只能选中一行
            height: 750,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            columns: [
              {
                checkbox: true
              }, {
                field: 'name',
                title: '任务名称',
              },{
                field: 'status',
                title: '任务进度',
                formatter: function (data) {
                  if (data == 0) {
                    return "未开始";
                  } else if (data == 1) {
                    return "进行中";
                  } else if (data == 2) {
                    return "已完成";
                  } else if (data == 3) {
                    return "暂停";
                  }
                }
              },{
                field: 'pname',
                title: '所属项目',
              } ,{
                field: 'dname',
                title: '所属需求',
              } ,{
                field: 'vname',
                title: '所属版本',
              } , {
                field: 'type',
                title: '任务类型',
                formatter: function (data) {
                  if (data == 3) {
                    return "开发";
                  } else if (data == 4) {
                    return "测试";
                  } else if (data == 5) {
                    return "产品/运营/需求";
                  }
                }
              }, {
                field: 'pstime',
                title: '计划开始时间',
                formatter: function (data) {
                  if (data == -1) {
                    return '-';
                  } else {
                    var timestr = new Date(data * 1000).Format("yyyy-MM-dd");

                    return timestr;
                  }
                }
              }, {
                field: 'petime',
                title: '计划结束时间',
                formatter: function (data) {

                  if (data == -1) {
                    return '-'
                  } else {
                    var timestr = new Date(data * 1000).Format("yyyy-MM-dd");

                    return timestr;
                  }

                }
              }, {
                field: 'm_desc',
                title: '任务描述',
              }, {
                field: 'id',
                title: '任务编号',
                visible: false
              }, {
                field: 'astime',
                title: '实际开始时间',
                formatter: function (data) {
                  if (data == -1) {
                    return '-';
                  } else {
                    var timestr = new Date(data * 1000).Format("yyyy-MM-dd");

                    return timestr;
                  }
                },
                visible: false
              }, {
                field: 'aetime',
                title: '实际结束时间',
                formatter: function (data) {
                  if (data == -1) {
                    return '-';
                  } else {
                    var timestr = new Date(data * 1000).Format("yyyy-MM-dd");

                    return timestr;
                  }
                },
                visible: false
              }]
          });
        }
     }

     function updateStatus(index){
      var $mtable = $('#userMStable').bootstrapTable('getSelections');
      
      if($mtable.length !=1){
        alert('请选择要修改状态的任务！');
        return ;
      }else{
        var id = $mtable[0].id;
        var status = $mtable[0].status;

        if(status == index){
          alert('状态未变，不需要提交！');

          return;
        }

        $.get("/home/markStaus?id=" + id+ "&status=" +index, function (result) {
          if (result.success) {
            //刷新列表
            $("#userMStable").bootstrapTable('refresh');

          } else {
            alert(result.msg);
          }
        });

      }

     

      
           

     }
    </script>

    <script>
    $(function () {
      //新建表格
      var mtable = new Messiontable();
      mtable.Init();
    });
    </script>
    
</body>
</html>