<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' />
</head>
    
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" onclick="return false;">MYTK</a>
            </div>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div>
                    <img src="/images/logo_big.png" class="img-responsive" alt="logo">
                </div>
                <div class="signin-div hidden">
                    <form class="form-horizontal" action="" method="post" onsubmit="return false;" id="form_in">
                        <div class="form-group"> 
                            <input class="form-control" type="text" id="account_in" placeholder="ACCOUNT" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" id="password_in" placeholder="PASSWORD"/>                           
                        </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="signIn();">Sign In</button>
                        <button type="button" class="btn btn-info btn-lg btn-block" onclick="change('Sign Up');">Sign Up</button>
                    </form>
                </div>
                <div class="signup-div hidden">
                    <form class="form-horizontal" action="" method="post" onsubmit="return false;" id="form_up">
                        <div class="form-group has-feedback">
                            <input class="form-control" type="text" id="account_up" placeholder="ACCOUNT" onblur="checkAccount(this);" />
                            <div class="hidden account_error_icon" >
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <input class="form-control" type="password" id="password_up" placeholder="PASSWORD" onblur="checkPassword(this);"/>
                            <div class="hidden" id="password_error_icon">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <input class="form-control" type="text" id="tel" placeholder="TELPHONE" onblur="checkTEL(this);"/>
                            <div class="hidden" id="tel_error_icon">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <input class="form-control" type="text" id="email" placeholder="EMAIL" onblur="checkEmail(this);"/>
                            <div class="hidden" id="email_error_icon">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="signUp();">Sign Up</button>
                        <button type="button" class="btn btn-info btn-lg btn-block" onclick="change('Sign In');">Sign In</button>
                    </form>
                </div>

                <div>
                    <!-- 空行而已 -->
                    <p></p>
                </div>

                <div class="alert alert-danger hidden" role="alert" id="errormsg">
                    
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <script>
        window.onload = function () {
            var divIn = document.getElementsByClassName('signin-div')[0];
            divIn.classList.remove('hidden');
        }

        function change(index) {
            var divUp = document.getElementsByClassName('signup-div')[0];
            var divIn = document.getElementsByClassName('signin-div')[0];

            if (index == 'Sign In') {
                divIn.classList.remove('hidden');
                divUp.classList.add('hidden');
                document.getElementById('form_up').reset();
            }

            if (index == 'Sign Up') {
                divIn.classList.add('hidden');
                divUp.classList.remove('hidden');
                document.getElementById('form_in').reset();
            }

            //警告信息隐藏
            $('#errormsg').addClass('hidden');
        }

    </script>

    <script>
        function signUp() {
            var account = $('#account_up').val();
            var password = $('#password_up').val();
            var tel = $('#tel').val();
            var email = $('#email').val();

            //警告信息隐藏
            $('#errormsg').addClass('hidden');

            if(checkAccount(account) && checkPassword(password) && checkTEL(tel) && checkEmail(email)){

                var submitData = {
                    'account': account,
                    'password': password,
                    'tel': tel,
                    'email': email
                };

                $.ajax({
                    url:'/users/reg',
                    type:'POST',
                    async:true,
                    dataType:'json',
                    data:submitData,
                    success:function(result){

                        if(result.success){
                            // 跳转
                            window.location.href = "/";

                        }else{
                            $('#errormsg').html(result.msg);
                            $('#errormsg').removeClass('hidden');
                        }
                    },
                    error:function(error){
                        $('#errormsg').html('系统异常，请稍后注册');
                        $('#errormsg').removeClass('hidden');
                    }
                });

            }else{
                $('#errormsg').html('请检查填写表格是否存在x存在');
                $('#errormsg').removeClass('hidden');
            }
        }
    </script>

    <script>
        function signIn() {
            var account = $('#account_in').val();
            var password = $('#password_in').val();

            if(checkNotNull(account)&& checkNotNull(password)){
                var submitData = {
                    'account': account,
                    'password': password
                };
                $.ajax({
                    url:'/signIn',
                    type:'POST',
                    async:true,
                    dataType:'json',
                    data:submitData,
                    success:function(result){

                        if(result.success){
                            //TODO
                            window.location.href = "/home";
                            // 跳转
                        }else{
                            $('#errormsg').html(result.msg);
                            $('#errormsg').removeClass('hidden');
                        }
                    },
                    error:function(error){
                        $('#errormsg').html('系统异常，请稍后登录');
                        $('#errormsg').removeClass('hidden');
                    }
                });

            }else{
                $('#errormsg').html("密码或账号不得为空");
                $('#errormsg').removeClass('hidden');
            }
        }
    </script>

    <script>
        function checkAccount(account){
            var pat = /^[a-zA-Z0-9]{6,16}$/;

            if( 'object' == typeof account){
                //onblur
                if(!pat.test(account.value)){
                    $('.account_error_icon').removeClass('hidden');                    
                }else{
                    $('.account_error_icon').addClass('hidden');                 
                }
            }else{
                //submit
                if(!pat.test(account)){
                   return false;
                }else{
                    return true;
                }

            }
        }

        function checkPassword(password){
            var pat = /^[a-zA-Z0-9]{6,16}$/;

            if( 'object' == typeof password){
                //onblur
                if(!pat.test(password.value)){
                    $('#password_error_icon').removeClass('hidden');              
                }else{
                    $('#password_error_icon').addClass('hidden');                   
                }
            }else{
                //submit
                if(!pat.test(password)){
                   return false;
                }else{
                    return true;
                }

            }
        }

        function checkTEL(tel){
            var pat = /^(13[0-9]|14[5|7]|15\d|18\d)\d{8}$/;

            if( 'object' == typeof tel){
                //onblur
                if(!pat.test(tel.value)){
                    $('#tel_error_icon').removeClass('hidden');    
                }else{
                    $('#tel_error_icon').addClass('hidden');               
                }
            }else{
                //submit
                if(!pat.test(tel)){
                   return false;
                }else{
                    return true;
                }

            }
        }

        function checkEmail(email){
            var pat = /^[a-zA-z0-9]+@[a-zA-z0-9]+(\.[a-zA-z0-9]+)+$/;

            if( 'object' == typeof email){
                //onblur
                if(!pat.test(email.value)){
                    $('#email_error_icon').removeClass('hidden'); 
                }else{
                    $('#email_error_icon').addClass('hidden');              
                }
            }else{
                //submit
                if(!pat.test(email)){
                   return false;
                }else{
                    return true;
                }

            }
        }

        function checkNotNull(data){
           if( data === null || data === undefined || data === ''){
               return false;
           }else{
               return true;
           }
        }
    </script>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>