<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .hide-div{
            display: none;
        }

    </style>
</head>

<body>
    <div class="signin-div hide-div">
        <form action="" method="post" onsubmit="return false;">
            <div>
                <input type="text" id="account" placeholder="ACCOUNT" />
            </div>
            <div>
                <input type="password" id="password" placeholder="PASSWORD" />
            </div>
            <button onclick="signIn();">Sign In</button>
            <button onclick="change('Sign Up');">Sign Up</button>
        </form>
    </div>
    <div class="signup-div hide-div">
        <form action="" method="post" onsubmit="return false;">
            <div>
                <input type="text" id="account" placeholder="ACCOUNT" />
            </div>
            <div>
                <input type="password" id="password" placeholder="PASSWORD" />
            </div>
            <div>
                <input type="text" id="tel" placeholder="TelPhone" />
            </div>
            <div>
                <input type="text" id="email" placeholder="Email" />
            </div>
            
            <button onclick="signUp();">Sign Up</button>
            <button onclick="change('Sign In');">Sign In</button>
        </form>
    </div>
    <script>
        function signIn() {
            alert('sign in');
        }

        function signUp() {
            alert('register')
        }

        function change(index){
            var divUp = document.getElementsByClassName('signup-div')[0];
            var divIn = document.getElementsByClassName('signin-div')[0];

            if(index == 'Sign In'){
                divIn.classList.remove('hide-div');
                divUp.classList.add('hide-div');
            }

            if(index == 'Sign Up' ){
                divIn.classList.add('hide-div');
                divUp.classList.remove('hide-div');
            }

        }

        window.onload = function (){
            var divIn = document.getElementsByClassName('signin-div')[0];
            divIn.classList.remove('hide-div');
        }
    </script>
</body>

</html>